/ColisionManager.class
/MasterMind.class
/Visitable.class
/Visitor.class
/ControladorColisiones.class
/VisitorEnemigos.class
/VisitorPowerUps.class
/VisitorPlataformas.class
/VisitorAJugador.class
/VisitorBolaDeFuego.class
/Colisiones.class
